$primary-color: black;
$secondary-color: rgba(0, 0, 0, 0.8);
$tertiary-color: rgba(0, 0, 0, 0.7);

$light-primary: white;
$light-secondary-color: rgba(255, 255, 255, 0.8);
$light-tertiary-color: rgba(255, 255, 255, 0.7);
