.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 668px);

  .title {
    margin-top: 42px;
    margin-bottom: 34px;

    font-size: 24px;
    line-height: 0;
  }
  .description {
    font-size: 23p;
    line-height: 0;
  }
}
